.snap {
  display: block;
}

.horizontal_line {
  display: none;
  position: absolute;
  width: 1px;
  background-color: #c0392b;
  z-Index: 200;
}

.vertical_line {
  display: none;
  position: absolute;
  height: 1px;
  background-color: #c0392b;
  z-Index: 200;
}
